<div class="content-container" >
  <div class="container">

    <div class="cards-box">
      <ng-container *ngIf="weather; else loader">
          <div class="left-box">
            <app-card-main [weather]="weather"></app-card-main>
            <app-card [weather]="weather"></app-card>
          </div>
          <div class="right-box">
            <app-card-five-days [weatherFiveDays]="weatherFiveDays"></app-card-five-days>
          </div>
      </ng-container>
      <ng-template #loader>
        <ng-container *ngIf="!error; else ebana">
          <div>Введите город</div>
        </ng-container>
        <ng-template #ebana>
          <div>{{error}}</div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
