@media only screen and (max-width: 600px) {
  .toolbar-container {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #005986;
  }
  .header {
    display: flex;

    .item {
      display: flex;
      align-items: center;

      &.left {
        width: 0%;
        justify-content: flex-start;
      }
      img {
        width: 0px;
      }

      &.center {
        width: 75%;
        justify-content: center;

        input {
          border: 0;
          width: 65%;
          height: 40px;
          color: #fff;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          border-radius: 20px;
          background: hsla(0,0%,100%,.2);
          margin: 0rem 0.25rem;

          &::-webkit-input-placeholder {
            color: #fff;
          }
          &:focus::-webkit-input-placeholder {
            opacity: 0;
          }
          &:focus {
            outline: 5px auto #fff;
          }
        }
        button {
          width: 30%;
          height: 40px;
          font-size: 18px;
          padding: 0rem 0.5rem;
          font-weight: 400;
          font-family: 'Roboto', sans-serif;
        }
      }
      &.right {
        width: 25%;
        justify-content: flex-end;
      }
    }
  .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 2rem;
      width: 0px;
    }
  }

}

@media only screen and (min-width: 600px) {
  .toolbar-container {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: #005986;
    padding: 0.5rem 0rem;
  }

  .header {
    display: flex;
    height: 85px;
    align-items: stretch;

    .item {
      display: flex;
      align-items: center;

      &.left {
        width: 30%;
        justify-content: flex-start;
      }

      &.center {
        width: 40%;
        justify-content: center;

        input {
          border: 0;
          width: 70%;
          height: 40px;
          color: #fff;
          text-align: center;
          font-family: 'Roboto', sans-serif;
          font-size: medium;
          margin: 0rem 0.5rem;
          border-radius: 20px;
          background: hsla(0,0%,100%,.2);

          &::-webkit-input-placeholder {
            color: #fff;
          }
          &:focus::-webkit-input-placeholder {
            opacity: 0;
          }
          &:focus {
            outline: 5px auto #fff;
          }
        }
        button {
          width: 20%;
          height: 40px;
          font-size: medium;
        }
      }

      &.right {
        width: 30%;
        justify-content: flex-end;
      }
    }

    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 2rem;
    }
  }
}
