@media only screen and (max-width: 600px) {

  mat-card {
    display: flex;
    height: 430px;
    flex-direction: column;
    justify-content: center;
    margin: 0rem;
    border-radius: 10px;
    box-shadow: 1px 5px 10px rgba(201, 200, 200, 0.726) !important;

    mat-card-title {
      font-size: 1.25rem;
      margin: 1rem 0rem 1rem 0rem;
    }

    mat-card-content {
      display: flex;
      margin: 0rem 1rem 1.5rem 2rem;

      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-grow: 1;
      }

      .SunriseSunset--graphPath--1S5ov {
        stroke: #e87538;
        fill: none;
        stroke-width: 3px;
        stroke-linecap: round;
        transform: rotate(180deg);
      }
        .item-icon {
          display: flex;
          align-items: flex-end;
          .item {
            margin: 0rem 0.5rem;
            display: flex;
            width: 50%;
            flex-direction: row;
            font-size: 1rem;
            align-items: center;
          }
        }
    }

    mat-list-item {
      border-top: 1px solid #dedede;
      .text {
        width: 50%;
        font-size: 1rem;
        font-weight: 500;
        padding: 0rem 0.5rem;
      }
      .value-response {
        width: 50%;
        font-size: 1rem;
        font-weight: 400;
        text-align: end;
      }
    }

  }
}

@media only screen and (min-width: 600px) {

  mat-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem 2rem 0rem;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(201, 200, 200, 0.726) !important;

    mat-card-content {
      display: flex;
      margin: 0rem 1rem 1.5rem 2rem;
      .item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      .SunriseSunset--graphPath--1S5ov {
        fill: none;
        stroke: #e87538;
        stroke-width: 3px;
        stroke-linecap: round;
        transform: rotate(180deg);
      }

      .item-icon {
          display: flex;
          align-items: flex-end;
          .item {
            width: 50%;
            display: flex;
            font-size: 1rem;
            margin: 0rem 0.5rem;
            align-items: center;
            flex-direction: row;
          }
      }

    }
    mat-list-item {
      border-top: 1px solid #dedede;
      .text {
        width: 50%;
        font-size: 1rem;
        font-weight: 500;
        padding: 0rem 0.5rem;
      }
      .value-response {
        width: 50%;
        font-size: 1rem;
        font-weight: 400;
        text-align: end;
      }
    }
  }
}
