<div class="content-container" >
  <div class="container">

    <mat-card>
      <ng-container *ngIf="weather; else loader">
        <mat-card-header>
          <mat-card-title>Weather Today in {{weather.name}}, {{weather.sys.country}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
           <div class="item">
            <span style="font-size: 3.5rem; font-weight: 400;">{{weather.main.temp | number: '1.0-0'}}°</span>
            <span style="font-size: 1rem;">Feels Like</span>
          </div>
          <div style="display: block;">
            <div class="item">
              <svg width="107" height="67" style="align-self: center;">
                <path d="M -13.5 26.5 a 1 1 0 0 0 80 0" class="SunriseSunset--graphPath--1S5ov" style="transform-origin: 40px 40px;"></path>
              </svg>
              <span class="item-icon">
                <!-- <p class="item"><mat-icon style="color: #febc11;">arrow_upward</mat-icon> {{sunriseTime}}</p> -->
                <!-- <p class="item"><mat-icon style="color: #febc11;">arrow_downward</mat-icon> {{sunsetTime}}</p> -->
              </span>
            </div>
          </div>
        </mat-card-content>


        <mat-list>
          <mat-list-item>
            <mat-icon>thermostat</mat-icon>
            <span class="text">High/Low:</span>
            <span class="value-response">{{weather.main.temp_max | number: '1.0-0'}}°/{{weather.main.temp_min | number: '1.0-0'}}°</span>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>air</mat-icon>
            <span class="text">Wind:</span>
            <span class="value-response">{{weather.wind.speed}} mph</span>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>water_drop</mat-icon>
            <span class="text">Humidity:</span>
            <span class="value-response">{{weather.main.humidity}}%</span>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>compress</mat-icon>
            <span class="text">Pressure:</span>
            <span class="value-response">{{weather.main.pressure}} mb</span>
          </mat-list-item>

          <mat-list-item>
            <mat-icon>visibility</mat-icon>
            <span class="text">Visibility:</span>
            <span class="value-response">{{weather.visibility / 1000}} km</span>
          </mat-list-item>

        </mat-list>
      </ng-container>
      <ng-template #loader>
        <mat-spinner [diameter]="50"></mat-spinner>
      </ng-template>

    </mat-card>


  </div>
</div>
